* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* viewport height */
    height: 100vh; 
    display: flex;
    background: #FAEBD7;
}

.picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 50%;
}
#startLogo {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30%;
    padding-bottom:10%;
    margin-left: 10%;
    margin-right:10%;
    margin-top: 40%;
    margin-bottom: 40%;
}