* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* viewport height */
    height: 100vh; 
    display: flex;
    background: rgb(250, 235, 215);
    /* background: url(./img/startchapters_.png);
    background-size: 2076px 1600px; */
}

.picture{
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: 5px;
    position: relative;
    transform: scale(1);
}
.startchapters {
    /* margin-left: 50%;
    margin-top: 50%; */
}
#startLogo {
    /* padding-left: 10%;
    padding-right: 10%;
    padding-top: 30%;
    padding-bottom:10%; */
    margin-left: 23%;
    margin-top: 3%;
    /* margin-right:10%;
    margin-bottom: 40%; */
}